<html>
  <head>
    <title>
      下町旅館
    </title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../node_modules/js-datepicker/dist/datepicker.min.css">
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
  </head>
  
  <body>
    <nav class="navbar navbar-expand navbar-light bg-light">
      <a class="navbar-brand" href="./">下町旅館</a>
      <ul class="ms-auto navbar-nav">
        <li class="nav-item">
          <a href="https://google.com">
            <button class="m-1 btn btn-outline-primary">会員登録</button>
          </a> 
        </li>
        <li class="nav-item">
          <a href="https://google.com">
            <button class="m-1 btn btn-outline-primary">ログイン</button>
          </a>
        </li>
      </ul>
    </nav>

    <div class="container-lg">
      <form action="" method="POST">
        <div class="my-3">
          <label for="name" class="form-label">名前</label>
          <input id="name" type="text" class="form-control">
        </div>
        <div class="my-3">
          <label for="mail" class="form-label">メールアドレス</label>
          <input id="mail" type="address" class="form-control">
        </div>
        <div class="my-3">
          <label for="sex" class="form-label">性別</label>
          <select id="sex">
            <option selected>性別を選択してください</option>
            <option value="0">男</option>
            <option value="0">女</option>
          </select>
        </div>
        <div class="my-3">
          <label for="birthday" class="form-label">誕生日</label>
          <input id="birthday" type="date" class="form-control">
        </div>
        <div class="my-3">
          <label for="password" class="form-label">パスワード</label>
          <input id="password" type="password" class="form-control">
        </div>
        <div class="my-3">
          <input class="btn btn-primary" type="submit" value="登録">
        </div>
      </form>
    </div>
    <footer class="footer container-fluid">
      <p>下町旅館</p>
    </footer>
  </body>
  <style>
    .footer{
      text-align: center;
    }
  </style>
</html>
